---
import MainLayout from '../layouts/MainLayout.astro';

const homeTitle = 'Astro foundation project'
const subtitle = 'Initial steps'
---

<MainLayout title={homeTitle}>
	<h3>{subtitle}</h3>
</MainLayout>
