---
import MainLayout from '../layouts/MainLayout.astro';

const title = 'Astro foundation project'
const subtitle = 'Initial steps'
---

<MainLayout title="Homa page">
	<h1>{title}</h1>
	<h3>{subtitle}</h3>
</MainLayout>
