---

---

<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
</nav>
<hr />

<style>
    a {
        padding:5px;
    }
    a:link, a:visited {
        text-decoration: none;
        color: royalblue;
    }
    a:hover {
        text-decoration: underline;
        color: orange
    }
</style>